<section class="navigation">
    <div>
        <a {% if current > 1 %}href="{{ baseUrl }}{{ current - 1 }}/"{% endif %} class="prev">&lt;Précédent</a>
        <span></span>
        {% set min = current > 2 ? current - 2 : 1 %}
        {% set max = min + 5 %}
        {% if max > infos.pages %}
            {% set max = infos.pages %}
            {% if max == 0 %}{% set max = 1 %}{% endif %}
            {% if max > 5 %}{% set min = max - 5 %}{% endif %}
        {% endif %}
        {% for i in range(min, max) %}
            <a href="{{ baseUrl }}{{ i }}/" {% if current == i %}class="current"{% endif %}>{{i}}</a>
        {% endfor %}
        <span></span>
        <a {% if current < infos.pages %}href="{{ baseUrl }}{{ current + 1 }}/" {% endif %} class="next">Suivant&gt;</a>
    </div>
</section>
