{% extends 'base_page.html.twig' %}

{% block menu_content %}
    <li><a href="/blog/categorie/{{ categorie }}/" style-hover>Actualités</a>
    {{ parent() }}
{% endblock %}

{% block body %}
    <main class="blog-page">
        <section class="progress"></section>
        <section class="head">
            <div class="flex-col-between">
                <div>
                    <span>{{ categorie|upper }} | <b>{{ temps }} min. de lecture</b></span>
                    <h2>{{ titre }}</h2>
                </div>
                <div>
                    <div class="author">
                        <img src="{{ asset('build/images/logo.png') }}">
                        <span>
                            Posté par Harmonie
                        </span>
                    </div>
                    <div class="social">
                        <a href="{{ offuscate(site.social.twitter)|raw }}" target="_blank" class="social hide-text">Twitter</a>
                        <a href="{{ offuscate(site.social.facebook)|raw }}" target="_blank" class="social hide-text">Facebook</a>
                        <a href="{{ offuscate(site.social.linkedin)|raw }}" target="_blank" class="social hide-text">Linkedin</a>
                    </div>
                </div>
            </div>
            <div class="illus">
                <img src="{{ asset(image) }}">
            </div>
        </section>
        <section class="content">
            <div>{{ body|raw }}</div>
            {% if date is not empty %}<i>Article publié le {{ date }}</i>{% endif %}
        </section>
        <section class="divider"></section>
        <section class="articles">
            <h3>Articles similaires</h3>
            {% for article in articles %}
                {{ block('lien_article', 'pages/_modules/liens.html.twig') }}
            {% endfor %}
        </section>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        scrollProgress(document.querySelector('section.progress'));
    </script>
{% endblock %}