{% extends 'base_page.html.twig' %}

{% set category = app.request.query.get('categorie') %}{# forced in controller #}
{% if category is defined and category is not empty %}
    {% set baseUrl = '/blog/categorie/' ~ category ~ '/' %}
{% else %}
    {% set baseUrl = '/blog/' %}
{% endif %}

{% block menu_content %}<li><a href="/blog/" style-hover>Actualités</a>{% endblock %}

{% block body %}
    <main class="blog">
        <section class="hero bando-small" style="--bg-image:url('{{ asset('build/images/bando-actu.jpg') }}');">
            <h2>Toutes nos actualités</h2>
        </section>
        <section class="menu">
            <div>
                <ul class="reset">
                    <li {% if categorie is empty %}class="current"{% endif %}><a href="{{ path('content_page', { slug: page.slugTrimmed }) }}">Tous</a>
                    {% for cat,label in categories %}
                    <li {{ _self.configure(categorie, cat) }}><a href="{{ path('blog_category', { category: cat }) }}">{{ label }}</a>
                    {% endfor %}
                </ul>
            </div>
        </section>
        <section>
            {%  if articles|length > 0  %}
                {% for i, type in ['double', 'reduit', 'reduit', 'reduit', 'simple', 'simple', 'simple', 'simple', 'double', 'double', 'simple']|slice(0, articles|length) %}
                    {% with { article : articles[i] } %}{{ block('lien_article', 'pages/_modules/liens.html.twig') }}{% endwith %}
                {% endfor %}
            {% else %}
                <div class="nothing-blog"><p>Aucun article à afficher.</p></div>
            {% endif %}
        </section>
        {% include 'pages/blog/_menu_pagination.html.twig' %}
    </main>
{% endblock %}

{% macro configure(category, current) %}
    {% if category == current %}class="current"{% endif %}
{% endmacro %}
