<div class="full">
    <H5>Balises meta</H5>
    {{ form_row(form.meta) }}
    <div class="seo-preview full"></div>
</div>

<script>
    (function(){
        let titre = document.getElementById("{{ form.meta.titre.vars.id }}");
        let description = document.getElementById("{{ form.meta.description.vars.id }}");
        {% if form.slug is defined %}let slug = document.getElementById("{{ form.slug.vars.id }}");{% else %}let slug = false;{% endif %}

        let form = document.forms['page'];
        let seoPreview = document.querySelector('.seo-preview')

        function configureInput(el, optimal) {
            let wrapper = document.createElement('div');
            let counter = document.createElement('div');
            let progress = document.createElement('div');
            el.parentNode.insertBefore(wrapper, el);
            wrapper.appendChild(counter);
            wrapper.appendChild(el);
            wrapper.appendChild(progress);
            wrapper.classList.add("seo-preview-input");
            counter.classList.add("seo-preview-counter");
            progress.classList.add("seo-preview-progress");

            function update() {
                updateSeoPreview();
                counter.innerHTML = el.value.length + '/' + optimal;

                let progressValue = el.value.length * 100 / optimal;
                progress.style.setProperty("--progress", ((progressValue>100) ? 100 : progressValue) + "%");
                progress.classList.toggle("optimal", (progressValue > 90 && progressValue < 110));
                progress.classList.toggle("missing", progressValue==0);
            }

            el.addEventListener("keyup", update);
            update();
        }

        function updateSeoPreview() {
            let slugValue = (!!slug) ? slug.value : '/';
            seoPreview.innerHTML = 
                `<div class="seo-preview-wrapper">
                    <div class="seo-preview-title">${titre.value}</div>
                    <cite>{{ url('home')|slice(7,-1) }}${slugValue}</cite>
                    <div class="seo-preview-description">${description.value}</div>
                </div>`;
        }

        if (!!slug) slug.addEventListener('change', updateSeoPreview);
        configureInput(titre, 65);
        configureInput(description, 165);
        updateSeoPreview();
    })()
</script>
