{% extends 'base_page.html.twig' %}

{% block menu_content %}<li><a href="#">{{ titre }}</a>{% endblock %}

{% block body %}
    <main class="content">
        {{ block(hero.type|default('empty'), 'pages/_modules/hero.html.twig') }}
        <section class="content">
            <div>
                {{ body|raw }}
            </div>
        </section>
        {% if page.slug == '/contact/' %}
            <section class="contact">
            {{ render(path('_module_contact')) }}
            </section>
        {% endif %}
        {# <section class="divider"></section>
        <section class="articles">
            <h3>articles similaires sur le sujet</h3>
            {% for _ in range(1,3) %}
                {{ block('lien_article', 'pages/_modules/liens.html.twig') }}
            {% endfor %}
        </section> #}
    </main>
{% endblock %}