{% block lien_article %}
    {% if article is defined %}
        <a href="{{ offuscate(article.slug, site.offuscateBypass)|raw }}" class="lien-article-blog article-{{type|default('simple')}} block-link">
            <img src="{{ asset(article.content.image|default('build/images/illus-blog.jpg')) }}">
            <div class="title">{{ article.title }}</div>
            {% if type|default('simple') == 'double' and article.content.accroche is defined and article.content.accroche is not empty %}<div class="accroche">{{ article.content.accroche|nl2br }}</div>{% endif %}
            <span>{{ article.content.categorie|upper }} | <b>{{ (article.content.body|striptags|split(' ')|length / 300)|round(0, 'ceil') }} min. de lecture</b></span>
            <div class="arrow-right-before">Lire l'article</div>
        </a>
    {% endif %}
{% endblock %}

{% block lien_temoignage %}
    {% if temoignage is defined %}
        <a class="article block-link" href="/temoignage/">
            <img src="{{asset(temoignage.content.image|default('build/images/bando-videos.jpg'))}}"/>
            <h3>{{ temoignage.content.date|date_locale('month') }} <b>{{ temoignage.content.date|date('Y') }}</b></h3>
            <p class="date">{{ (temoignage.content.temoignage|length > 260 ? temoignage.content.temoignage|slice(0, 260) ~ '...' : temoignage.content.temoignage)|raw }}</p>
            <div class="a">
                {% set parts = temoignage.title|split('/') %}
                <span>{{ parts[0] }}</span><br/>
                {% if parts[1] is defined %}<span>{{ parts[1] }}</span>{% endif %}
            </div>
        </a>
    {% endif %}
{% endblock %}

{% block lien_video %}
    {% if video is defined %}
    <a class="article block-link" href="http://www.youtube.com/watch?v={{ video.snippet.resourceId.videoId }}" data-lity>
        <img src="{{ video.snippet.thumbnails.medium.url|default('build/images/illus-blog.jpg') }}"/>
        <h3>{{ video.snippet.title }}</h3>
        <div class="d">Mise en ligne : {{ video.snippet.publishedAt|date_locale('full') }}</div>
    </a>
    {% else %}
        <!-- Video undefined -->
    {% endif %}
{% endblock %}

{% block lien_faq %}
    <a href="{{ faq.slug|default('#') }}" class="faq_link" data-count="{{('00' ~ loop.index|default(1))|slice(-2)}}">{{ faq.title|default('Lien exemple') }}</a>
{% endblock %}

{# Shortcodes#}

{% block lien_devis %}
    <div class="encart lien-devis">
        <h5>#Devis gratuit</h5>
        <p>Choix des travaux pour votre copropriété :</p>
        <div class="flex-1 flex-gap">
            <div class="input">
                <select oninput="this.parentElement.nextElementSibling.classList.toggle('disabled', !this.value)">
                    <option>Choix 1</option>
                    <option>Choix 2</option>
                    <option>Choix 3</option>
                </select>
            </div>
            <a href="{{ offuscate('/formulaire/', site.offuscateBypass)|raw }}" class="btn primary shadow disabled">Demander un devis</a>
        </div>
    </div>
{% endblock %}

{% block lien_localiser %}
    <div class="encart lien-localiser">
        <h5>#Retrouvez nos réalisations près de chez vous</h5>
        <p>Votre localisation :</p>
        <div class="flex-1 flex-gap">
            <div class="input">
                {{ form_widget(form.select, {attr: { onchange : "this.parentElement.nextElementSibling.classList.toggle('disabled', !this.value)"}}) }}
            </div>
            <a href="javascript:;" onclick="goLocaliser(this)" class="btn primary shadow disabled">Voir les réalisations</a>
        </div>
    </div>
    <script>
        function goLocaliser(link) {
            const select = link.closest('.lien-localiser').querySelector('select').value;
            if (select.length == 2) window.location.href = "/realisations/?departement[]=" + select;
            if (select.length == 5) window.location.href = "/realisations/?ville[]=" + select;
        }
    </script>
{% endblock %}