<section class="paves">
    <h4 class="yellow caps">{{ data.titre }}</h4>
    <div>
        {% for pave in [data.pave1, data.pave2, data.pave3, data.pave4] %}
        <div style="--bg-image:url('{{ asset(pave.image|default('build/images/illus-realisation.jpg')) }}');">
            <h3 class="yellow">{{ pave.titre }}</h3>
            <div>
                <p>{{ pave.accroche|raw }}</p>
            </div>
            <a href="{{ pave.cta_link }}" class="btn primary yellow">{{ pave.cta_label }}</a>
        </div>
        {% endfor %}
    </div>
</section>