<footer class="vcard">
    <section>
        <div class="links">
            <h6>Nos coordonnées</h6>
            <div class="logo"></div>
            <p><strong>{{ site.sitename }}</strong></p>
            <p>
                6 bis, rue du Maréchal Foch<br/>
                78600 MAISONS-LAFFITE<br/>
            </p>
            <ul class="nostyle">
                <li><b>Téléphone :</b> <a class="social" href="tel:{{ site.contact.phone|replace({' ': ''}) }}">{{ site.contact.phone }}</a></li>
                <li><b>Fax :</b> <a class="social" href="tel:{{ site.contact.fax|replace({' ': ''}) }}">{{ site.contact.fax }}</a></li>
                <li><b>Email :</b> <a class="social" href="mailto:{{ site.contact.email }}">{{ site.contact.email }}</a></li>
            </ul>
        </div>
        <div class="links hide-for-medium">
            <h6>Sitemap</h6>
            <ul class="nostyle sitemap">
                <li><a href="{{ offuscate('/ite/', site.offuscateBypass)|raw }}">Isolation thermique</a></li>
                <li><a href="{{ offuscate('/etancheite/', site.offuscateBypass)|raw }}">Etanchéité</a></li>
                <li><a href="{{ offuscate('/ravalement/', site.offuscateBypass)|raw }}">Ravalement</a></li>
                <li><a href="{{ offuscate('/copropriete/', site.offuscateBypass)|raw }}">Copropriété</a></li>
                <li><a href="{{ offuscate('/faq/', site.offuscateBypass)|raw }}">FAQ</a></li>
                <li><a href="{{ offuscate('/plan-du-site/', site.offuscateBypass)|raw }}">Plan du site</a></li>
                <li><a href="{{ offuscate('/mentions-legales/', site.offuscateBypass)|raw }}">Mentions légales</a></li>
            </ul>
        </div>
        <div class="links">
            <h6>Suivez-nous</h6>
            <div class="social">
                <a href="{{ offuscate(site.social.twitter, site.offuscateBypass)|raw }}" target="_blank" class="social before twitter">Twitter</a>
                <a href="{{ offuscate(site.social.facebook, site.offuscateBypass)|raw }}" target="_blank" class="social before facebook">Facebook</a>
                <a href="{{ offuscate(site.social.linkedin, site.offuscateBypass)|raw }}" target="_blank" class="social before linkedin">Linkedin</a>
            </div>
        </div>
        <div class="links">
            <h6>Une demande ?</h6>
            <ul class="nostyle uppercase semibold">
                <li><a href="{{ offuscate('/contact/', site.offuscateBypass)|raw }}">Contact</a></li>
                <li><a href="{{ offuscate('/formulaire/', site.offuscateBypass)|raw }}">Devis gratuit</a></li>
                <li><a href="{{ offuscate('/contact/', site.offuscateBypass)|raw }}">Subventions</a></li>
            </ul>
        </div>
    </section>
</footer>
<script>
    (function () {
        let href = document.location.href;
        href = href.replace("http://", "");
        href = href.replace("https://", "");
        href = href.split("/");
        if (href.length > 1) {
            if (href[1] === "ite" || href[1] === "copropriete" || href[1] === "subventions") {
                document.write('<div class="sticky-btn yellow"><a href="/subventions/formulaire/">Faire une demande de subvention</a></div>');
            } else {
                document.write('<div class="sticky-btn"><a href="/formulaire/">Demander un devis gratuit</a></div>');
            }
        }

        window.onscroll = function () {
            let btn = document.querySelector(".sticky-btn");
            if (document.body.scrollTop > 70 || document.documentElement.scrollTop > 70) {
                btn.classList.add('show');
            } else {
                btn.classList.remove('show');
            }
        };
    })();
</script>
