{% extends 'base_admin.html.twig' %}

{% block title %}Espace admin{% endblock %}

{% block menu_admin %}
    <div class="profil">
        Administration<br>
    </div>
    <ul class="nostyle">
        <li><div class="group">CMS</div>
            <ul class="admin_cms nostyle">
                {{ _self.menu('admin_page_index', 'Pages', 'picto-article') }}
                {{ _self.menu('admin_blog_index', 'Blog', 'picto-article') }}
                {{ _self.menu('admin_faq_index', 'Faq', 'picto-article') }}
                {{ _self.menu('admin_realisation_index', 'Réalisations', 'picto-article') }}
                {{ _self.menu('admin_temoignage_index', 'Témoignages', 'picto-article') }}
                {{ _self.menu('admin_redirect_index', 'Redirections', 'picto-article') }}
            </ul>
        </li>
        <li><div class="group">Administration</div>
            <ul class="admin_cms nostyle">
                {{ _self.menu('admin_zone_index', 'Zones géographiques', 'picto-article') }}
            </ul>
        </li>
        {# <li><div class="group">IMPORT</div>
            <ul class="admin_cms nostyle">
                {{ _self.menu('admin_import_page_index', 'Pages', 'picto-article', 3) }}
                {{ _self.menu('admin_import_blog_index', 'Blog', 'picto-article', 3) }}
                {{ _self.menu('admin_import_faq_index', 'Faq', 'picto-article', 3) }}
                {{ _self.menu('admin_import_realisation_index', 'Réalisations', 'picto-article', 3) }}
                {{ _self.menu('admin_import_temoignage_index', 'Témoignages', 'picto-article', 3) }}
            </ul>
        </li> #}
    </ul>
{% endblock %}

{% block haut %}
    Vous êtes connecté sur <span>{{site.sitename}}</span>.
    <a href="javascript:;" onclick="showMenu()" class="btn_private | btn_menu">Menu</a>
    <a href="{{ path('admin_logout') }}" class="btn_private | btn_deconnexion">Déconnexion</a>
{% endblock %}

{% block content %}Aucun contenu à afficher{% endblock %}

{% macro menu(route, title, class, length = 2) %}
    {% set routePrefix = route|split('_')|slice(0,length)|join('_') %}
    {% set currentPrefix = app.request.attributes.get('_route')|split('_')|slice(0,length)|join('_') %}
    {% set active = routePrefix == currentPrefix %}
    <li class="menu_{{ route }}"><a href="{{ path(route) }}" class="{{ class }} {{ active ? 'active' }}">{{ title }}</a></li>
{% endmacro %}
