{% extends 'admin/index.html.twig' %}

{% use "_dataTables/_table.html.twig" %}

{% block title %}Gestion des témoignages{% endblock %}

{% block content %}
    <div class="bloc | grid-span-12-col | page_index">
        <div class="heading">
            <h3>Les Témoignages</h3>
            <div class="searchbox | hide-for-small-only"><input type="text" placeholder="Rechercher un témoignage"></div>
            <a href="{{ path('admin_temoignage_new') }}" class="btn_admin icon add">Ajouter <span>un témoignage</span></a>
        </div>
        <div class="content dataTable">
            Chargement...
        </div>
        <div class="content">
            <p><b>&#8627; Actions groupées</b></p>
            <ul>
                <li>{% with {action:'brouillon',  route:'_admin_page_ajax_action' } %}{{ block('table_action') }}{% endwith %}</li>
                <li>{% with {action:'relecture', route:'_admin_page_ajax_action' } %}{{ block('table_action') }}{% endwith %}</li>
                <li>{% with {action:'publie', route:'_admin_page_ajax_action' } %}{{ block('table_action') }}{% endwith %}</li>
                <li>{% with {action:'archive',  route:'_admin_page_ajax_action' } %}{{ block('table_action') }}{% endwith %}</li>
            </ul>
        </div>
        {{ block('table_tips') }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ block('table_init_script') }}
{% endblock %}