{% block table_tips %}
    <div class="tip">
        <p>&#9432; Appuyez sur Maj en cliquant sur un titre de colonne pour trier sur plusieurs colonnes simultanément</p>
    </div>
{% endblock %}

{% block table_action %}
    <a href="javascript:;" onclick="return table.action('{{ action }}' , '{{ path(route, {action: action})  }}');">{{ action|capitalize }}</a>
{% endblock %}

{% block table_init_script %}
    <script>
        (function() {
            window.table = DataTable('.dataTable', {{ datatable_settings(datatable) }});
        })();
    </script>
{% endblock %}

{% block table_init_script_noselect %}
    <script>
        (function() {
            window.table = DataTable('.dataTable', {{ datatable_settings(datatable) }}, true);
        })();
    </script>
{% endblock %}
