{% extends 'base_page.html.twig' %}

{% block body %}
    <main class="tete-silo">
        {% with {hero: portlets.hero_split_image} %}{{ block('split', 'pages/_modules/hero.html.twig') }}{% endwith %}
        {{ render(path('_module_map', { page : 'ravalement'})) }}</td>
        {% embed 'pages/_modules/produits.html.twig' with {id: "p1", data: portlets.produits_1} %}{% endembed %}
        {% embed 'pages/_modules/paves.html.twig' with {data: portlets.paves} %}{% endembed %}
        {{ block('etapes') }}
        {% embed 'pages/_modules/text.html.twig' with {data : portlets.texte}%}{% endembed %}
        {{ render(path('_module_articles', {title:"L'actualité du ravalement", category:'ravalement'})) }}
        {% embed 'pages/_modules/produits.html.twig' with {id:"p2", data : portlets.produits_2} %}{% endembed %}
        {% with {title:"Vous avez des questions ?", lien:'/faq/'} %}{% include 'pages/_modules/faq.html.twig' %}{% endwith %}
    </main>
{% endblock %}

{% block etapes %}
<section class="etapes">
    <h4 class="green caps">Les 5 étapes d’un chantier de ravalement</h4>
    <div class="chrono">
        <div class="etape-menu current" id="menu-etape-1">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 195.3 66.5">
            <path fill="#6c6c6c" class="picto" d="M66.5 41.4v.2l.1.4v22a2.5 2.5 0 01-2.1 2.5h-62A2.5 2.5 0 010 64.4V41.9c0-.2 0-.3.2-.5l9.2-20a2.5 2.5 0 011.9-1.5h8.8l-2.6 4.5-.3.5h-4l-6.8 15h53.8l-6.8-14.5 3-5 .5.6.2.3zM37.8.2l.4.1 17.3 10c1 .6 1.5 2 1 3.1l-.1.3L47 30h3.8a2.5 2.5 0 01.3 5H15.8a2.5 2.5 0 01-.3-5h6.3l-.5-.4a2.5 2.5 0 01-1-3v-.4l14.4-25c.7-1 2-1.5 3.1-1zm0 5.7L25.9 26.4l6 3.5h9.3l9.6-16.7-13-7.5z"/>
            <g class="arrow" transform="translate(-6.7 -6.8)">
                <path stroke="#6c6c6c" d="M108 40h88"/>
                <path fill="#6c6c6c" d="M202 40l-6 3.5v-7z"/>
            </g>
            </svg>
            <h5 class="caps bold">ÉTAPE 01</h5>
            Le vote des travaux
        </div>
        <div class="etape-menu" id="menu-etape-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 202 72">
            <g transform="translate(-230 -4)">
                <path fill="#6c6c6c" class="picto" d="M260.3 63.6a1.5 1.5 0 00-2.8 0l-1 2.2a2.2 2.2 0 01-4.2-.3l-2.3-7.1-1.5 4.4a6 6 0 01-5.7 4.2h-1.7c-1.2 0-2.2-1-2.2-2.3 0-1.2 1-2.2 2.2-2.2h1.7c.7 0 1.3-.4 1.5-1l2.5-7.8a3.3 3.3 0 013.2-2.3c1.4 0 2.7 1 3.2 2.3l1.9 5.9a6.2 6.2 0 019.2 2c.2.5.7.8 1.3.9V50.9L283.3 33v-6.5h-18.9a3.4 3.4 0 01-3.3-3.4V4h-27.8a3.3 3.3 0 00-3.3 3.4v65.2c0 1.9 1.5 3.4 3.3 3.4H280c1.8 0 3.3-1.5 3.3-3.4V67h-17.7a6 6 0 01-5.3-3.4zm23-42.5a3 3 0 00-1-2.3L268.9 5c-.7-.6-1.5-1-2.4-1h-.8v18h17.7v-.9zM270 52.8v9.7h9.6L302 39.6l-9.4-9.5zm39-25.3l-4.5-4.5a3.5 3.5 0 00-5 0l-3.7 3.9 9.4 9.5 3.8-3.8a3.6 3.6 0 000-5z"/>
            </g>
            <g class="arrow" transform="translate(-230 -4)">
                <path stroke="#6c6c6c" d="M338 40h88"/>
                <path fill="#6c6c6c" d="M432 40l-6 3.5v-7z"/>
            </g>
            </svg>
            <h5 class="caps bold">ÉTAPE 02</h5>
            La signature des marchés
        </div>
        <div class="etape-menu" id="menu-etape-3">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 199.4 73.9">
            <g fill="#6c6c6c" class="picto">
                <path d="M66.4 7.4a29 29 0 00-43 38.4L21 48.2l-2-2-16 16c-1-.5-1.7-.8-2-.5l-.9 1C-1.3 64 10 75.1 11.3 73.7l1-.9c.2-.3 0-1-.7-2l16.1-16-2-2 2.4-2.4a29 29 0 0038.3-43zM63 45a24.1 24.1 0 11-34-34 24.1 24.1 0 0134 34z"/>
                <path d="M66.5 26.3a20.9 20.9 0 01-40.2-5.5 20.8 20.8 0 1040.2 5.5z"/>
            </g>
            <g class="arrow" transform="translate(-462.6 -3.6)">
                <path stroke="#6c6c6c" d="M568 40h88"/>
                <path fill="#6c6c6c" d="M662 40l-6 3.5v-7z"/>
            </g>
            </svg>
            <h5 class="caps bold">ÉTAPE 03</h5>
            Avant les travaux
        </div>
        <div class="etape-menu" id="menu-etape-4">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 193.6 59.7">
            <path fill="#6c6c6c" class="picto" d="M61.6 51.2L45 34.7l-7 7 16.3 16.5c2 2 5 2 7 0s2-5.1 0-7zM50.4 24.5c6.5 0 11.7-5.2 11.7-11.6 0-2-.5-3.8-1.4-5.4l-9 9-5-5 9-9a11.5 11.5 0 00-17 10.4c0 1.3.3 2.6.8 3.8l-6.2 6.2-6-6a3.3 3.3 0 000-4.6L25 9.9l7-7a10 10 0 00-14 0l-9.5 9.4a3.3 3.3 0 000 4.7l2.4 2.3H2.4c-.6 0-1.2.3-1.6.7a2.3 2.3 0 000 3.4l8.4 8.4a2.3 2.3 0 003.4 0c.4-.4.7-1 .7-1.6v-8.5l2.3 2.3a3.3 3.3 0 004.7 0l6 6L5 51a5 5 0 000 7.2c2 2 5 2 7 0l34.5-34.4c1.3.5 2.6.7 4 .7z"/>
            <g class="arrow" transform="translate(-698.4 -8.8)">
                <path stroke="#6c6c6c" d="M798 40h88"/>
                <path fill="#6c6c6c" d="M892 40l-6 3.5v-7z"/>
            </g>
            </svg>
            <h5 class="caps bold">ÉTAPE 04</h5>
            Début des travaux
        </div>
        <div class="etape-menu" id="menu-etape-5">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 60 65">
            <path fill="#6c6c6c" class="picto" d="M13.3 46.6a3.3 3.3 0 100-6.6 3.3 3.3 0 000 6.6zm3.4 6.7a3.4 3.4 0 11-6.7 0 3.4 3.4 0 016.7 0zm-3.4-16.7a3.3 3.3 0 100-6.6 3.3 3.3 0 000 6.6zm3.4-13.3a3.4 3.4 0 11-6.7 0 3.4 3.4 0 016.7 0zm-3.4-6.7a3.3 3.3 0 100-6.6 3.3 3.3 0 000 6.6z"/>
            <path fill="#6c6c6c" class="picto" d="M36.7 7.5V10h15.8a7.5 7.5 0 017.5 7.5v45a2.5 2.5 0 01-2.5 2.5h-8.3a1.7 1.7 0 01-1.7-1.7v-7.5a1.7 1.7 0 00-1.7-1.7h-8.3a1.7 1.7 0 00-1.7 1.7v7.5a1.7 1.7 0 01-1.6 1.7H2.5A2.5 2.5 0 010 62.5v-55A7.5 7.5 0 017.5 0h21.7a7.5 7.5 0 017.5 7.5zM7.5 5A2.5 2.5 0 005 7.5V60h18.3V17.5a7.5 7.5 0 017.5-7.5h.9V7.5A2.5 2.5 0 0029.2 5zM50 43.3a3.4 3.4 0 10-6.7 0 3.4 3.4 0 006.7 0zm-13.3 3.3a3.3 3.3 0 100-6.6 3.3 3.3 0 000 6.6zM50 33.3a3.4 3.4 0 10-6.7 0 3.4 3.4 0 006.7 0zm-13.3 3.3a3.3 3.3 0 100-6.6 3.3 3.3 0 000 6.6zM50 23.3a3.4 3.4 0 10-6.7 0 3.4 3.4 0 006.7 0zm-13.3 3.3a3.3 3.3 0 100-6.6 3.3 3.3 0 000 6.6z"/>
            </svg>
            <h5 class="caps bold">ÉTAPE 05</h5>
            Fin des travaux
        </div>
    </div>
    <div class="content">
        <div class="current" id="etape-1">
            <div class="info">
                <img src="{{ asset(content.image|default('build/images/bando_1.jpg')) }}">
                <p>Un ravalement ne peut être entrepris qu’à certaines conditions : </p>
                <ul>
                    <li>Une décision votée par les copropriétaires,
                    <li>La majorité simple en cas de travaux qui ne concernent pas les parties privatives,
                    <li>La majorité absolue lors d’une injonction faite au syndicat des copropriétaires par le maire,
                    <li>La double majorité lorsque le ravalement n’est pas imposé,
                    <li>Déclaration préalable en mairie : le permis de construire n’est plus obligatoire depuis 2007, mais il faut néanmoins faire une déclaration à la mairie dénommée auparavant déclaration de travaux et à présent déclaration préalable.
                </ul>
            </div>
        </div>
        <div class="" id="etape-2">
            <div class="info">
                <img src="{{ asset(content.image|default('build/images/bando_2.jpg')) }}">
                <p>Nous vous conseillons de joindre à l’acte d’engagement tous les éléments préalablement cités, en y ajoutant les éléments suivants :</p>
                <ul>
                    <li>Attestation sur l’honneur de l’emploi de salariés en règle avec la législation du travail,
                    <li>Attestation à jour du paiement de l’impôt,
                    <li>Attestation à jour du paiement de la caisse des congés payés,
                    <li>Attestation à jour du paiement de l’URSSAF,
                    <li>Attestation à jour des polices d’assurance,
                    <li>La préconisation du fabricant dont les matériaux sont mis en œuvre.
                </ul>
                <p>Une fois le dossier constitué, la copropriété via son représentant que constitue le syndic, signera l’intégralité des pièces marché, de même que le maître d’œuvre, s’il y en a un et bien sûr de l’entrepreneur retenu. Ce document marché est essentiel pour le bon déroulement des travaux, car il précise le cadre dans lequel le ravalement s’inscrit et en cas de litige, sera le document juridique référent.</p>
            </div>
        </div>
        <div class="" id="etape-3">
            <div class="info">
                <img src="{{ asset(content.image|default('build/images/bando_3.jpg')) }}">
                <p>Une fois les "pièces marché" acceptées par les parties, il y aura lieu d’organiser un rendez-vous préparatoire sur le site des travaux</p>
                <p>L’entreprise présentera à ce moment-là le conducteur de travaux en charge du suivi. De même, nous conseillons la présence du directeur des travaux, de sorte que si le conducteur se trouvait arrêté, il y ait dans l’entreprise une autre personne parfaitement informée en plus du chef d’équipe, qui lui sera en permanence sur site.</p>
                <p>Lors de ce rendez-vous, le conducteur s’assurera de l'emplacement de la base de vie, des locaux de stockage, ou encore de l’endroit où se trouvent les arrivées d’eau et arrivées électriques, permettant ainsi de démarrer le chantier sans perdre de temps. Une fois ce rendez-vous établi, l’entreprise produira un compte-rendu. Il en sera de même lors de chaque rendez-vous de chantier hebdomadaire. On profitera de ce premier rendez-vous pour effectuer un état des lieux contradictoire de l’ensemble des bâtiments. À la fin du chantier, on procédera de même afin de s’assurer qu’il n’y ait pas de dégradation particulière commise durant les travaux.</p>
            </div>
            <div class="astuce">
                <h6>Astuce</h6>
                <p>Nous vous invitons lors de l’établissement de l’état des lieux à ne pas oublier de visiter les toitures terrasses qui pourraient être perforées, particulièrement lorsque les échafaudages ne sont pas tubulaires, mais avec des nacelles. De même, nous préconisons de vérifier le bon fonctionnement des stores, car trop souvent, des copropriétaires peu scrupuleux profitent des travaux pour faire croire que l’entreprise est responsable du mauvais fonctionnement de l’une de leurs parties privatives, ce qui peut devenir source de conflit.</p>
            </div>
        </div>
        <div class="" id="etape-4">
            <div class="info">
                <img src="{{ asset(content.image|default('build/images/bando_4.jpg')) }}">
                <p>Un affichage préalable sera apposé dans les parties communes par la société, afin de prévenir les occupants du jour précis de l’arrivée des échafaudages et des cantonnements. Les 15 premiers jours seront dédiés à la mise en place des dits échafaudages et personne ne devra y monter tant qu’un bureau de contrôle extérieur ne sera venu délivrer un procès-verbal de conformité. Ce document est fondamental, car c’est lui qui délivre le droit de pouvoir mettre en œuvre les travaux de ravalement.</p>
                <p>Un rendez-vous contradictoire se tiendra chaque semaine en présence des parties prenantes qui pourront faire part de leurs remarques concernant l’hygiène, la sécurité ou encore la qualité, la préparation et la mise en œuvre des matériaux. On profitera de ce rendez-vous hebdomadaire pour actualiser le planning bâtiment par bâtiment, étage par étage, et une fois par mois, cet avancement permettra d’établir les situations comptables visant au règlement des factures du prestataire.</p>
            </div>
            <div class="astuce">
                <h6>Astuce</h6>
                <p>Pour éviter la multiplication des informations circulant sur le chantier, nous vous invitons à créer un carnet de doléances pouvant être laissé chez le gardien ou, le cas échéant, dans un local prévu à cet effet, où chaque occupant pourra librement consigner ses remarques. C’est lors du rendez-vous de chantier que nous en prendrons connaissance : c’est un outil précieux pour un suivi de chantier de qualité.</p>
            </div>
        </div>
        <div class="" id="etape-5">
            <div class="info">
                <img src="{{ asset(content.image|default('build/images/bando_5.jpg')) }}">
                <p>Votre chantier est maintenant terminé, mais avant de faire retirer les échafaudages des façades, nous vous conseillons de procéder à un procès-verbal de réception des travaux. Ce document, établi par l’entreprise ou par le maître d’œuvre, marquera le point final de l’intervention. On reprendra le devis établi au départ, on s’assurera que chaque point a été correctement traité, et l’on procédera éventuellement à la liste de certaines réserves qui seraient quelques points singuliers à faire reprendre par l’entrepreneur avant le paiement final de sa facture. L’entrepreneur, sous 15 jours, procédera à la levée des réserves dont il devra vous avertir par courrier recommandé.</p>
            </div>
            <div class="astuce">
                <h6>Astuce</h6>
                <p>Astuce : en termes de garantie, la date prise en compte par la compagnie d’assurance sera celle du jour de la réception définitive des travaux, qu’il y ait ou non des réserves. Il est donc dans l’intérêt de la copropriété de faire lever les réserves au plus vite, puisque les délais de garantie ont d’ores et déjà commencé à courir. Pour éviter tout litige a posteriori avec certains résidents, nous vous conseillons de faire procéder par l’entreprise à une pré-réception des travaux individuels par appartement et de demander à celle-ci de produire un quitus signé de la main de l’occupant du logement, attestant que les travaux ont été faits correctement.</p>
                <p>On profitera également de la réception des travaux pour procéder à un constat d’état des lieux contradictoire, qui sera rapproché de celui fait au démarrage des travaux et, ainsi, de s’assurer que si certaines dégradations sont apparues, elles sont, ou non, le fruit de l’entreprise ayant exécuté l’ouvrage.</p>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const etapesDiv = document.querySelector('.etapes');
            const etapesMenu = etapesDiv.querySelectorAll('.etape-menu')
            const etapesContent = etapesDiv.querySelectorAll('.content>div');
            etapesMenu.forEach(i => i.addEventListener('click', function(e) {
                etapesMenu.forEach(el => el.classList.remove('current'))
                i.classList.add('current');
                const etape = i.id.substr(5);
                etapesContent.forEach(el => el.classList.remove('current'))
                document.getElementById(etape).classList.add('current');
                i.parentElement.scrollLeft = i.offsetLeft - 16; // 16 = 1em
            }))
        })
    </script>
</section>
{% endblock %}