{% block css_modal %}
    {% with {content:content|nl2br} %}{{ block('css_modal_raw') }}{% endwith %}
{% endblock %}

{% block css_modal_raw %}
    {% if title is defined %}<label for="{{id}}_check" class="link {{ class|default('') }}">{{ title|raw }}</label>{% endif %}
    <input type="checkbox" id="{{id}}_check" class="css_modal">
    <div id="{{id}}_modal">
        <label for="{{id}}_check"></label>
        <div>
            <label for="{{id}}_check">&times;</label>
            {{content|raw}}
        </div>
    </div>
{% endblock %}