{# {% block action_button_widget %}
    <button class="btn" style="color:red;"
        onclick="return confirm(`{{ confirm }}`) && _submitAction(this, {{ parameters }});"
        data-action-route="{{ action }}"
        data-csrf-token="{{ csrf is defined ? csrf_token(csrf) : '0' }}">{{ label }}</button>
{% endblock %} #}

{% block delete_button_widget %}
    <button class="btn delete"
            {% if active is defined and not active %}
                disabled="disabled"
                title="Action impossible !"
            {% else %}
                onclick="return confirm(`{{ confirm }}`) && _submitDelete(this);"
                data-action-route="{{ action }}"
                data-csrf-token="{{ csrf is defined ? csrf_token(csrf) : '0' }}"
            {% endif %}
            >{{ label }}</button>
{% endblock %}

{% block slug_input_row %}
    <div class="error">{{ form_errors(form) }}</div>
    <div class="slug-text">
        <input type="hidden" {{ block('widget_attributes') }} value="{{ form.vars.value }}">
        <span>{{ url('home')|slice(0,-1) }}{{ prefix }}</span>
        <input type="text" id="slug" required pattern="^[^/][^' ']+[^/]$">{{ suffix }}
        <a href="javascript:;">&#x21BA;</a>
    </div>
    <p>Le Slug ne doit pas contenir d'espaces, ni de caractère spécial. <br/>Il ne doit pas avoir de'/' avant ou après</p>
    <script>
        (function () {
            let slug_hidden = document.getElementById('{{form.vars.id}}');
            let slug_user = document.getElementById('slug'); // TODO not ready for many slugs on the same page => not necessary
            let slug_refresh = document.querySelector('#slug + a');
        {% if form.parent.title is defined %}
                let title = document.getElementById('{{ form.parent.title.vars.id }}');
            {% if form.vars.value == '' %}title.addEventListener('input', updateSlug);{% endif %}
        {% endif %}

                slug_refresh.addEventListener('click', updateSlug);
                slug_user.addEventListener('keyup', function () {
                    updateSlugHidden(slug_user.value);
                });

                function updateSlug() {
                    let s = generateSlug(title.value);
                    slug_user.value = s;
                    updateSlugHidden(s);
                }
                function updateSlugHidden(s) {
                    slug_hidden.value = '{{ prefix }}' + s + '{{ suffix }}';
                    slug_hidden.dispatchEvent(new Event('change'));
                }

                slug_user.value = '{{ form.vars.value }}'.substring('{{ prefix }}'.length, '{{ form.vars.value }}'.length - '{{ suffix }}'.length);
            })()
    </script>
{% endblock %}

{%- block select2_select_widget -%}
    <select {{ block('widget_attributes') }} autocomplete="{{ path(form.parent.vars.route) }}">
        {% if value is iterable %}
            {% for id, label in value %}
                <option value="{{ id }}" selected="selected">{{ label }}</option>
            {% endfor %}
        {% endif %}
    </select>
{%- endblock -%}

{% block with_shortcodes_row %}
    {{ form_row(form) }}
    {{ block('shortcodes') }}
{% endblock %}

{% block with_shortcodes_nosommaire_row %}
    {{ form_row(form) }}
    {% with {nosommaire : true} %}{{ block('shortcodes') }}{% endwith %}
{% endblock %}

{% block shortcodes %}
    <div>
        Liste des shortcodes :
        <select style="display: inline-block;width: 20em;">
            <option>[formulaire type="devis"]</option>
            <option>[formulaire type="contact"]</option>
            <option>[formulaire type="subvention"]</option>
            <option>[localiser]</option>
            {% if nosommaire is not defined %}<option>[sommaire]</option>, {% endif %}
        </select>&nbsp;
        <a href="javascript:;" onclick="CKEDITOR.instances.{{form.vars.id}}.insertText('\n\n' + this.previousElementSibling.value + '\n\n');
                        return false;"> &rarr; Insérer</a>
    </div>
{% endblock %}

{% block elfinder_widget %}
    <div class="elfinder-field" data-elfinder="{{path('elfinder', {'instance': instance, 'homeFolder': homeFolder })}}">
        <input type="hidden" action="value" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
        <button action="choose" type="button" class="btn">Choisir une image</button>
        <a action="edit" href="javascript:;">&#x270E;</a>
        <img action="preview" src="{{value|default('data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==')}}">
    </div>
{% endblock %}

{% block elfinder_slideshow_widget %}
    <div class="elfinder-slideshow-field" data-elfinder="{{path('elfinder', {'instance': instance, 'homeFolder': homeFolder })}}">
        <input type="hidden" action="value" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
        <button action="choose" type="button" class="btn">Ajouter une image</button>
        <div action="preview"></div>
    </div>
{% endblock %}

{% block pave_row %}
    <div class="form-grid">
        <div class="full">
            {{ form_label(form) }}
        </div>
        <div class="half">
            {{ form_row(form.titre) }}
            {{ form_row(form.image) }}
            {{ form_row(form.cta_link) }}
            {{ form_row(form.cta_label) }}
        </div>
        <div class="half">
            {{ form_row(form.accroche) }}
        </div>
    </div>
{% endblock %}

{%- block choice_widget_expanded -%}
    <div class="expanded-group" {{ block('widget_container_attributes') }}>
        {%- for child in form %}
            <div class="expanded-row">
                {{- form_widget(child) -}}
                {{- form_label(child, null, {translation_domain: choice_translation_domain}) -}}
            </div>
        {% endfor -%}
    </div>
{%- endblock choice_widget_expanded -%}

{%- block recaptcha_button_widget -%}
    {%- set attr = attr|merge({class: (attr.class|default('') ~ ' g-recaptcha')|trim}) -%}
    {% set id = random() %}
    {{ form_widget(form) }}
    <button type="submit" class="{{ attr.class }}">{{- label -}}</button>
    <script src="https://www.google.com/recaptcha/api.js?render={{ app.request.server.get('RECAPTCHA_PUBLIC_KEY') }}"></script>
    <script>
            function submitContact(form) {
                if (form.checkValidity()) {
                    grecaptcha.ready(function () {
                        grecaptcha.execute('{{ app.request.server.get('RECAPTCHA_PUBLIC_KEY') }}', {action: 'submit'}).then(function (token) {
                            document.getElementById("{{form.vars.id}}").value = token;
                            form.submit();
                        });
                    });
                } else {
                    form.classList.add("show_validity");
                }
            }
    </script>
{% endblock %}