{% extends 'base.html.twig' %}

{% block menu_content %}
    {% if page.parent is not empty and page.parent.parent is not null %}{# we have to exclude 'home' page #}<li><a href="{{page.parent.slug}}" style-hover>{{page.parent.title}}</a>{% endif %}
    <li class="current"><h1><a href="{{ page.slug }}"style-hover>{{ page.title }}</a></h1>
{% endblock %}

{% block title %}{{ titre|default(page.meta.titre|default(page.title)) }} - {{ site.sitename }}{% endblock %}

{% block meta %}
    {% if page.content.meta is defined %}
        <meta name="description" content="{{ page.content.meta.description }}">
        <meta name="robots" content="{{ page.content.meta.robots }}">
        <meta property="og:title" content="{{ page.content.meta.titre }}" />
        <meta property="og:description" content="{{ page.content.meta.description }}" />
        {% if page.content.hero_split_image.image is defined  %}{% set image = page.content.hero_split_image.image %}{% endif %}
        {% if page.image is defined  %}{% set image = page.image %}{% endif %}
        {% if image is defined  %}<meta property="og:image" content="{{ absolute_url(asset(image)) }}" />{% endif %}
    {% endif %}
{% endblock %}

