<!DOCTYPE html>
<html class="no-js" lang="fr">
    <head>
        <meta charset="utf-8" />
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_link_tags('admin') }}
            {{ encore_entry_link_tags('tools_admin') }}
        {% endblock %}
        <title>{% block title %}{{site.sitename}}{% endblock %}</title>
        <link rel="icon" href="{{ asset("build/images/favicon.png") }}" />
    </head>
    <body class="admin">
        {{ include("_flash.html.twig") }}
        {% block body %}
        <main>
            <section class="header">{% block haut %}{% endblock %}</section>
            <section class="menu">{% block menu_admin %}{% endblock %}</section>
            <section class="main">{% block content %}{% endblock %}</section>
            <footer>Un service proposé par <img src="{{ asset('build/images/logo-kiwilab.png') }}" style="vertical-align:bottom;"></footer>
        </main>
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('admin') }}
            {{ encore_entry_script_tags('tools_admin') }}
        {% endblock %}
    </body>
</html>