{% extends 'base.html.twig' %}

{% block title %}{{ titre|default(page.meta.titre|default(page.title)) }} - {{ site.sitename }}{% endblock %}

{% block menu_content %}
	<li><a href="/realisations/">Réalisations</a></li>
    <li class="current"><a href="{{ page.slug }}" style-hover>{{ page.title }}</a>{# here we don't include h1 because it's used in content ! #}
{% endblock %}

{% block body %}
    <main class="realisations details">
        <section class="slideshow">
            <div class="sliding">
                {% if content.slideshow is defined %}
                {% for img in content.slideshow %}
                    <img src="{{ asset(img) }}">
                {% endfor %}
                {% else %}
                    <img src="{{ asset(content.image) }}">
                {% endif %}
            </div>
        </section>
        <section class="content">
            <div class="infos">
                {# TODO deactivate prev/next if only one image #}
                <a href="javascript:;" class="prev"></a>
                <a href="javascript:;" class="next"></a>
                <h3 class="caps green">INFORMATIONS</h3>
                <ul>
                    <li>Type de réalisation : <b>{{categorie|capitalize}}</b></li>
                    <li>Département : <b>{{zone.parent.nom|default(content.departement)}}</b></li>
                </ul>
                <br/>
                <center><a href="{{ offuscate('/formulaire/', site.offuscateBypass)|raw }}" class="btn primary">Demande de devis gratuit</a></center>
            </div>
            <div class="text">
                <h1>{{ titre }}</h1>
                <b>{{ content.ville }}</b>
                <div class="divider"></div>
                {{ body|raw }}
                <center><a href="{{ offuscate('/formulaire/', site.offuscateBypass)|raw }}" class="btn primary">Demande de devis gratuit</a></center>
            </div>
        </section>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        let bullets = Array.from(document.querySelectorAll(".swiper>*"));
        function getCurrentBullet() {
            let active = document.querySelector(".swiper>*.active")
            return bullets.indexOf(active);
        }
        document.querySelector(".prev").addEventListener("click", function() {
            let prev = (getCurrentBullet() + bullets.length - 1) % bullets.length;
            bullets[prev].click();
        })
        document.querySelector(".next").addEventListener("click", function() {
            let next = (getCurrentBullet()+1) % bullets.length;
            bullets[next].click();
        })
    </script>
{% endblock %}